
    <!DOCTYPE html>
    <html >
    <head>
        <title>Base64 Image Loading</title>
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <script language="javascript" type="text/javascript">
    var imageUrl = " @Url.Action("GetBase64Image", "Home")";
    var imgs = null;

    $(document).ready(function () {
        //if ($.browser.msie) {
            //var browserMsg
            //     = "Your browser does not support Base64 image"
            //$("#divBrowserInfo").html(browserMsg);

            //$("#btnClearImage").attr("disabled", true);
            //$("#btnLoadImage").attr("disabled", true);
        //}

        var displayImage = function (base64Data) {
            var imag = "<img "
                     + "src='" + "data:image/jpg;base64,"
                     + base64Data + "'/>";

            $("#divImageHolder").html(imag)
            //alert(imag);
        };

        $("#btnLoadImage").click(function () {
          //  alert("OK");
            if (imgs != null) {
                displayImage(imgs.base64imgage);
                return;
               
            }

            $.ajax({
                cache: false,
                type: "GET",
                url: imageUrl,
                contentType: 'application/json',
                dataType: "json",
                success: function (data) {
                    //alert(data);                  
                    imgs = data;
                   // displayImage(encode(data));
                    displayImage(imgs.base64imgage);
                   // alert(imgs.base64imgage);
                },
                error: function (xhr) {
                    alert("Error occurred while loading the image. "
                        + xhr.responseText);
                }
            });
        });

        //function encode(data) {
        //    var str = String.fromCharCode.apply(null, data);
        //    return "data:image/png;base64," + btoa(str).replace(/.{76}(?=.)/g, '$&\n');
        //}

        $("#btnClearImage").click(function () {
            $("#divImageHolder").html("");
        });
    });
        </script>
    </head>

    <body>
        @using (Html.BeginForm("SaveImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <span>Select File:</span>
            <input type="file" name="file" />
            <br />
            <button type="submit">Upload</button>
        }
        <br />
        <div id="divBrowserInfo"></div>
        <br />
        <div id="divImageHolder"></div>
        <div>
            <button id="btnClearImage">
                Clear Image
            </button>
            <button id="btnLoadImage">
                Load Base64 Image
            </button>
        </div>

    </body>
</html>

